*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/rtsp/build
/clocksync/build
/h264depacketizer/build
/rtspcore/build
/rtspkit/build
/rtspsignaling/build
/rtsptransport/build
/videodecoder/build
/videorendering/build
/h265depacketizer/build
/audiodecoder/build
/audiodepacketizer/build
/audiorendering/build
/sample/streams.json