*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/clocksync/build/
/h264depacketizer/build/
/rtspcore/build/
/rtspkit/build/
/rtspsignaling/build/
/rtsptransport/build/
/videodecoder/build/
/videorendering/build/
/h265depacketizer/build